<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyThuVien.Properties.Settings.BTLQuanLyThuVienConnectionString" connectionString="Data Source=DESKTOP-7NOLRS8;Initial Catalog=BTLQuanLyThuVien;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
